.row-itmes-flex {
  display: flex;
  flex-direction: column;
}

.inventory-update {
  overflow-y: scroll;
  max-height: 20%;
  position: relative;
}

.inventory-transactions {
  overflow-y: scroll;
  max-height: 100vh;
}

.scroll-card {
  height: 100%;
}

.pos-fixed {
  position: fixed;
}
