.row-itmes-flex {
  display: flex;
  flex-direction: column;
}

.inventory-update {
  position: relative;
}

.inventory-transactions {
  overflow-y: scroll;
  max-height: 100%;
  height: 80vh;
}

.pos-fixed {
  position: fixed;
}
